List of commands:

{{ commands_example }}

cwd example: {{ cwd_example }}

env example: {{ env_example }}

env+cwd example: {{ env_cwd_example }}

Hello example: {{ "john doe" | hello }}

Fish example: {{ fish_example }}

Shell example: {{ shell_example }}

Rhai script example: {{ script_example }}
